.wrapper {
  width: 300px;
  height: 300px;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 10px;
  .small-width {
    width: 200px;
    height: 200px;
  }
  .margin-left {
    margin-left: 50%;
  }
}
.middle {
  margin-left: 500px;
  margin-top: 200px;
}
.display-flex {
  display: flex;
  .equal {
    margin-bottom: 30px;
  }
}
