<div class="login-register-wrapper">
  <h1>Log in</h1>
  <form>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" />
    </div>
  </form>
  <div class="buttons">
    <button routerLink="/mainpage" class="btn btn-primary">Login</button>
    <button routerLink="/register" class="btn btn-secondary">Register</button>
  </div>
</div>
