<div class="flex">
  <img
    class="logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYQqzsin3zDUHN7DX4ahifr4ELiJZQcc8OFg&s"
    alt=""
  />
  <button class="height btn btn-primary">brands</button>
  <button routerLink="/summerFragrance" class="height btn btn-primary">
    summer fragrance
  </button>
  <button routerLink="/winterFragrance" class="height btn btn-primary">
    winter fragrance
  </button>

  <button routerLink="/mainpage" class="height btn btn-primary">back</button>
</div>
<div class="father big-top">
<div class="wrapper">
    <img
      class="small-width"
      src="https://www.creedperfume.com.au/cdn/shop/files/AventusFFFFFF_1400x.png?v=1739489740"
      alt=""
    />
    <p class="top green">$300</p>
    <button routerLink="/creed" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
   <div class="wrapper">
    <img
      class="small-width"
      src="https://iciparis.ge/uploads/image/2024-01-31/13678.jpg"
      alt=""
    />
    <p class="top green">$90</p>
    <button routerLink="/paradiseGarden" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
  <div class="wrapper">
    <img
      class="smaller-width"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8lbtAV2-GW0VwgJD2cHFiBZ5Vfx2lAgNLXg&s"
      alt=""
    />
    <p class="top green">$140</p>
    <button routerLink="/flower" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
   <div class="wrapper">
    <img
      class="small-width"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1ShtYBgFvlbn_n3KjKwSngzogAVpM6WdeZw&s"
      alt=""
    />
    <p class="top green">$350</p>
    <button routerLink="/obsolu" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
</div>

<div class="father big-top">
     <div class="wrapper">
    <img
      class="smaller-width"
      src="https://fimgs.net/mdimg/perfume/375x500.67370.jpg"
      alt=""
    />
    <p class="top green">$500</p>
    <button routerLink="/imagination" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
  <div class="wrapper">
    <img
      class="small-width"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShAT7ioI0ZYJL72PVeKj3B_kW0w9CjRmXw3Q&s"
      alt=""
    />
    <p class="top green">$130</p>
    <button routerLink="/coral-fantasy" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
  <div class="wrapper">
    <img
      class="small-width"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv1_hqUM8XYa6-RGXmB61h01i_dEvXRlIOEA&s"
      alt=""
    />
    <p class="top green">$320</p>
    <button routerLink="/mountain-water" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
  <div class="wrapper">
    <img
      class="small-width"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlWgkVp31zxWw55ocjTpf9le-5T9F_mRW0Zg&s"
      alt=""
    />
    <p class="top green">$400</p>
    <button routerLink="/greenly" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
</div>
<div class="father big-top">
  <div class="wrapper">
    <img
      class="smaller-width"
      src="https://assets.central.co.th/valentino-valentinouomoborninromagreenstravaganzaedp100ml-CDS13134853-1?$JPEG$&wid=550"
      alt=""
    />
    <p class="top green">$80</p>
    <button routerLink="/greenValentino" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
  <div class="wrapper">
    <img
      class="small-width"
      src="https://eu.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-afternoon-swim--LP0313_PM2_Front%20view.jpg"
      alt=""
    />
    <p class="top green">$470</p>
    <button routerLink="/afternoon-swim" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
  <div class="wrapper">
    <img
      class="small-width"
      src="https://scentmore.dk/cdn/shop/products/sedley-802140.webp?v=1705390913"
      alt=""
    />
    <p class="top green">$400</p>
    <button routerLink="/graypdf" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
  <div class="wrapper">
    <img
      class="small-width"
      src="https://www.myperfumeshop.com.au/cdn/shop/files/louis-vuitton-pacific-chill-edp-perfume-cologne-827229.png?v=1714655931"
      alt=""
    />
    <p class="top green">$500</p>
    <button routerLink="/pacificChill" class="width topm btn btn-primary">
      see more closer
    </button>
  </div>
</div>
<div class="father big-top">
  <div class="wrapper">
    <img
      class="small-width"
      src="https://aromateque.ge/wp-content/uploads/elementor/thumbs/1110096_100ml-Millesime-Viking_Shot-1-scaled-qqdhahx31u1moqmqsefp2jb912ngd8dupw4cotw0g0.jpg"
      alt=""
    />
    <p class="top green">$250</p>
    <button routerLink="/viking" class="width topm btn btn-primary">
      see more closer
    </button>
  </div></div>