<div class="wrapper middle">
  <img
    class="small-width"
    src="https://www.valentino-beauty.us/dw/image/v2/AAFM_PRD/on/demandware.static/-/Sites-valentino-master-catalog/default/dw7a82cd94/images/pdp/MPL02809/vlt_frag_bir-extradose_launch-25_dmi_uomo-100ml_3614274350739_front%20white-1x1.jpg?sw=193&sfrm=jpg&q=70"
    alt=""
  />

  <p class="green">$80</p>
    <button routerLink="/mainpage" class="btn btn-primary  ">back</button>
    <button routerLink="/pay" class="btn btn-primary topm width">
    pay
  </button>
</div>

