<div class="login-register-wrapper">
  <form [formGroup]="userForm">
    <h1>Register</h1>
    <div class="mb-3">
      <label for="username" class="">Username</label>
      <input
        id="username"
        class="form-control"
        type="text"
        formControlName="username"
      />
      @if(usernameControl.touched && usernameControl.hasError('required')){
      <app-error [message]="'this field is requerd'"> </app-error>
      }@else if (usernameControl.touched &&
      usernameControl.hasError('minlength')) {
      <app-error message="Username must contain min 3 "> </app-error>}
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="password"
      />
      @if(passwordControl.touched&& passwordControl.hasError('required')){
      <app-error message="this field is requerd"> </app-error>
      }@else if(passwordControl.touched&&
      passwordControl.hasError('minlength')){
      <app-error message="Username must contain min 3"> </app-error>
      }
    </div>
    <div class="mb-3">
      <label for="email">Email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        id="email"
      />
      @if(emailControl.touched&& emailControl.hasError('required')){
      <app-error message="this field is requerd"> </app-error>
      }@else if(emailControl.touched&& emailControl.hasError('email')){
      <app-error message="must be in email style  "> </app-error>
      }
    </div>

    <div class="buttons">
      <button routerLink="/login" class="btn btn-primary" type="button">
        Log in
      </button>
      <button
        [disabled]="userForm.invalid"
        routerLink="/mainpage"
        (click)="Register()"
        type="button"
        class="btn btn-secondary"
      >
        Register
      </button>
    </div>
  </form>
</div>
