<div class="login-register-wrapper">
  <form>

       <label for="username" class="">username</label>
    <input id="username" type="text" />
    <label for="password">password</label>
    <input type="password" id="password" />

    <label for="email">email</label>
    <input type="text" id="email" />

 
    <div class="buttons">
      <button (click)="login.emit()" class="btn btn-primary" type="button">
        Log in
      </button>
      <button type="button" class="btn btn-secondary">Register</button>
    </div>
  </form>
</div>
